<a href="<%= link %>/<%= data.getId() %>" class="card-content">
    <img src="/assets/<%= image %>" alt="photo de <%= data.getName() %>" class="browse-card-image">
    <div class="browse-card-bottom">
        <p class="browse-card-text"><%= data.getName() %></p>
    </div>
</a>