<%- include("../partials/head", {title: "Réservation"}) %>
<%- include("../partials/header") %>

<main class="form-section">
    <h2>Réservation</h2>
    <form action="/booking" method="post" class="form box-content">
        <div class="form-div">
            <label for="park">Parc</label>
            <select name="park" id="park" class="form-input" required>
                <option value="">Sélectionner votre parc</option>
                <% parks.forEach((park) => { %>
                    <option value="<%= park.getId() %>"
                        <% if(data.park === park.getId().toString()){ %>
                            selected
                        <% } %>    
                    ><%= park.getName() %></option>
                <% }) %>
            </select>
            <% if (errors?.park?.errors?.[0]) { %>
                <small id="title-error" class="error-msg">
                    <%= errors.park.errors[0] %>
                </small>
            <% } %>
        </div>
        <div class="form-div">
            <label for="ticket1">Nombre de billets</label>
            <% tickets.forEach((ticket, id) => { %>
                <div class="form-div-in-line">
                    <input type="number" name="ticket" id="ticket<%= ticket.getId() %>"  class="form-input" required
                    <% if(data?.ticket) { %>
                        value="<%= data.ticket[id] || '' %>"
                    <% } %>
                    >
                    <p>Billet(s) <%= ticket.getTitle() %> - <%= ticket.getPrice() %> € unité</p>
                </div>
            <% }) %>
            <% if (errors?.ticket?.errors?.[0]) { %>
                <small id="title-error" class="error-msg">
                    <%= errors.ticket.errors[0] %>
                </small>
            <% } %>
        </div>
        <div class="form-div">
            <label for="bookingDate">Date du billet</label>
            <input type="date" name="bookingDate" id="bookingDate" value="<%= data?.bookingDate || '' %>" class="form-input" required>
            <% if (errors?.bookingDate?.errors?.[0]) { %>
                <small id="title-error" class="error-msg">
                    <%= errors.bookingDate.errors[0] %>
                </small>
            <% } %>
        </div>
        <div class="form-line">
            <div class="form-div">
                <label for="lastName">Nom</label>
                <input type="text" name="lastName" id="lastName" value="<%= data?.lastName || '' %>" class="form-input" required>
                <% if (errors?.lastName?.errors?.[0]) { %>
                    <small id="title-error" class="error-msg">
                        <%= errors.lastName.errors[0] %>
                    </small>
                <% } %>
            </div>
            <div class="form-div">
                <label for="firstName">Prénom</label>
                <input type="text" name="firstName" id="firstName" value="<%= data?.firstName || '' %>" class="form-input" required>
                <% if (errors?.firstName?.errors?.[0]) { %>
                    <small id="title-error" class="error-msg">
                        <%= errors.firstName.errors[0] %>
                    </small>
                <% } %>
            </div>
        </div>
        <div class="form-div">
            <label for="email">Mail</label>
            <input type="email" name="email" id="email" value="<%= data?.email || '' %>" class="form-input" required>
            <% if (errors?.email?.errors?.[0]) { %>
                <small id="title-error" class="error-msg">
                    <%= errors.email.errors[0] %>
                </small>
            <% } %>
        </div>
        <button type="submit" class="btn end-line-btn">Valider</button>
    </form>
    <a href="/" class="btn end-line-btn">Retour</a>
</main>

<%- include("../partials/footer") %>