<%- include("../partials/head", {title: "Réservation"}) %>
<%- include("../partials/header") %>

<main>
    <h2>Confirmation de validation</h2>
    <section>
        <p>Nous confirmons avoir reçu votre réservation pour le <%= date %>.<br>
            Vous avez réservé A VOIR dans le parc <%= park.getName() %><br>
            Votre montant total est de <%= price %> €.
        </p>
        <p>Si vous pensez que nous avons fait une erreur, merci d'aller vous faire foutre.</p>
        <a href="/">Retour à l'accueil</a>
    </section>
</main>

<%- include("../partials/footer") %>