<%- include("../partials/head", {title: "Réservation"}) %>
<%- include("../partials/header") %>

<main class="form-section">
  <h2>Paiement</h2>
  <section class="price-section box-content">
    <p>Prix total: <%= price %> €</p>
    <a href="/booking" class="btn">Retour</a>
  </section>
  <form action="/booking/payment" method="post" class="form box-content">
    <div class="form-div">
      <label for="cardNumber">Numéro de carte</label>
      <input type="text" name="cardNumber" id="cardNumber" value="<%= data?.cardNumber || '' %>" class="form-input" required>
      <% if (errors?.cardNumber?.errors?.[0]) { %>
      <small class="error-msg">
        <%= errors.cardNumber.errors[0] %>
      </small>
      <% } %>
    </div>
    <div class="form-line">
      <div class="form-div">
        <label for="CVV">CVV</label>
        <input type="text" name="CVV" id="CVV" value="<%= data?.CVV || '' %>" class="form-input" required>
        <% if (errors?.CVV?.errors?.[0]) { %>
        <small class="error-msg">
          <%= errors.CVV.errors[0] %>
        </small>
        <% } %>
      </div>
      <div class="form-div">
        <label for="expiryDate">Date d'expiration</label>
        <input type="text" name="expiryDate" id="expiryDate" value="<%= data?.expiryDate || '' %>" class="form-input" required>
        <% if (errors?.expiryDate?.errors?.[0]) { %>
        <small class="error-msg">
          <%= errors.expiryDate.errors[0] %>
        </small>
        <% } %>
      </div>
    </div>
    <div class="form-div">
      <label for="fullName">Nom complet</label>
      <input type="text" name="fullName" id="fullName" value="<%= data?.fullName || '' %>" class="form-input" required>
      <% if (errors?.fullName?.errors?.[0]) { %>
      <small class="error-msg">
        <%= errors.fullName.errors[0] %>
      </small>
      <% } %>
    </div>
    <button type="submit" class="btn end-line-btn">Payer</button>
  </form>
</main>

<%- include("../partials/footer") %>