<%- include("../partials/head", {title: "truc"}) %>
<%- include("../partials/header") %>

<main>
  <section class="read-section
    <% if(attraction.getParkId() === 2){ %>
        bg-sea
    <% } else { %>
        bg-land
    <% } %>
    ">
    <a href="/attraction" class="btn end-line-btn">Retour</a>
    <div class="read-card">
      <h2><%= attraction.getName() %></h2>
      <div class="read-card-content">
        <p class="read-card-info read-card-text">Taille minimale : <%= attraction.getMinHeight() %> cm</p>
        <% if(attraction.getChildrenAreAllowed()){ %>
        <p class="read-card-info read-card-text">Pour toute la famille</p>
        <% } else { %>
        <p class="read-card-info read-card-text">Les enfants ne sont pas autorisés</p>
        <% } %>
        <p class="read-card-info read-card-text"><%= attraction.getType() %></p>
      </div>
      <img src="/assets/<%= attraction.getImage() %>" alt="photo de l'attraction" class="read-card-image">
    </div>
  </section>
  <section class="browse-section">
    <h2>Les dinosaures de notre attraction</h2>
    <ul class="browse-list">
      <% dinosaurs.forEach((dino) => { %>
      <li class="browse-card">
        <%- include("../partials/browseCard", { data: dino, image: dino.getImage(), link: "/dinosaur" }) %>
      </li>
      <% }) %>
    </ul>
  </section>
</main>

<%- include("../partials/footer") %>