<%- include("../partials/head", {title: "truc"}) %>
<%- include("../partials/header") %>

<main class="read-section">
    <a href="/dinosaur" class="btn end-line-btn">Retour</a>
    <div class="read-card">
        <h2><%= dinosaur.getName() %></h2>
        <div class="read-card-content">
            <p class="read-card-text"><%= dinosaur.getDescription() %></p>
            <% if(dinosaur.getImage()) { %>
                <img src="/assets/<%= dinosaur.getImage() %>" alt="photo du dinosaure" class="read-card-image">
            <% } %>
        </div>
    </div>
</main>

<%- include("../partials/footer") %>